<section id="chatroom">
    <div class="d-flex flex-column">
        <div class="chat-box-header">
            <div class="d-flex">
                <h2 class="pt-3 pl-3">Detail</h2>
                <button
                        (click)="editRoom()"
                        *ngIf="allowEdit()" class="ml-auto"
                        mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <hr class="mt-0"/>
        </div>
        <div class="pl-3 detail-content">
            <b>Active Members</b>
            <h1>{{memberCount}}</h1>
            <b>Topic</b>
            <p>{{chatroom?.topic}}</p>

            <b>Description</b>
            <p>{{chatroom?.description}}</p>
        </div>
    </div>
</section>
