<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{data?.detail ? 'Detail' : 'Chatrooms'}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-summary">
    </div>

    <div class="panel-content">
        <app-chatroom-detail *ngIf="data?.detail else Rooms"></app-chatroom-detail>
        <ng-template #Rooms>
            <app-chatrooms></app-chatrooms>
        </ng-template>
    </div>

    <div class="panel-footer">
    </div>
</section>

