#chat {
    height: 100%;
    min-width: 300px;
    overflow-y: auto;

    .chat {
        flex-grow: 1;
        margin-top: -16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow-y: auto;
        //background-color: rgb(63,81,181, 0.2);

        .message {
            padding: 10px;
            font-weight: 400;
            margin-bottom: 10px;
            background-color: #cccccc;
            width: fit-content;
            border-radius: 5px;
        }

        .message.from-self {
            background-color: rgb(63, 81, 181, 0.2);
            text-align: right;
            align-self: flex-end;
        }
    }

    .send-icon {
        cursor: pointer;
    }

}
