<section class="h-100" id="chat">
    <div *ngIf="chatroom?.value else EmptyChat" class="h-100 d-flex flex-column">
        <div class="chat-box-header">
            <div class="d-flex w-100">
                <h2 class="pl-3 mt-3">{{chatroom?.value.title}}</h2>
                <ng-content class="ml-auto p-0"></ng-content>
            </div>
            <hr class="mt-0"/>
        </div>
        <div #messageContainer (scrolled)="loadMore()"
             (scrolledUp)="loadMore()"
             [infiniteScrollDistance]="4"
             [infiniteScrollThrottle]="300"
             [infiniteScrollUpDistance]="4"
             [scrollWindow]="false"
             class="chat d-flex flex-column p-3"
             infinite-scroll
        >
            <div *ngFor="let message of messages" [ngClass]="{'from-self': isFromSelf(message?.user_id)}"
                 class="message">
                <div>
                    <b>{{message.user.name | titlecase}}</b>
                    <small class="ml-2">{{message.created_at | date: 'short'}}</small>
                </div>
                {{message.message}}
            </div>

            <p class="m-0 p-0 mt-auto mb-4"
               style="color: rgba(0,0,0,0.4)">{{typingUser ? typingUser + ' is typing...' : ''}}
            </p>
        </div>
        <form *ngIf="isLoggedIn else Login" [formGroup]="chatForm" autocomplete="off" class="mt-auto pl-2 pr-2 pt-2">
            <mat-form-field (keydown.enter)="submitMessage()" appearance="outline" class="w-100">
                <input formControlName="message" matInput type="text"/>
                <mat-icon (click)="submitMessage()" class="send-icon" matSuffix>send</mat-icon>
            </mat-form-field>
        </form>

        <ng-template #Login>
            <div class="d-flex flex-column justify-content-center align-items-center pt-4 pb-4">
                <button (click)="login()" color="primary" mat-flat-button>Login to chat</button>
            </div>
        </ng-template>
    </div>
    <ng-template #EmptyChat>
        <div class="d-flex h-100 flex-column justify-content-center align-content-center text-center">
            <div>
                <mat-icon class="big-icon">speaker_notes</mat-icon>
            </div>
            <h2>Currently No Room Selected</h2>
        </div>
    </ng-template>
</section>
