<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{config.title}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-summary">
        {{config.summary}}
    </div>

    <div class="panel-content">
        <form [formGroup]="chatForm" autocomplete="off" class="d-flex flex-column">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input formControlName="title" matInput type="text"/>
                <mat-error *ngIf="chatForm.controls.title.hasError('required')">
                    Title is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Topic</mat-label>
                <input formControlName="topic" matInput type="text"/>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" matInput></textarea>
            </mat-form-field>
        </form>
    </div>

    <div class="panel-footer">
        <button (click)="delete()" *ngIf="data?.chat" class="mr-auto" color="warn" mat-flat-button>
            <mat-icon>delete</mat-icon>
        </button>
        <button (click)="submit()" color="primary" mat-flat-button>Submit</button>
    </div>
</section>

