<app-header></app-header>

<div class="container mt-4">
    <mat-card class="p-4">
        <img src="assets/images/ably-logo-full-rbg-pos.png" width="200px"/>
        <h2 class="header mt-4">{{title.getTitle()}}</h2>
        <p class="mt-4">{{appSummary}}</p>
        <app-action-bar></app-action-bar>
        <router-outlet></router-outlet>
    </mat-card>
</div>
