<section id="action-bar">
    <hr class="mt-4 mb-4"/>
    <div class="d-flex justify-content-end align-items-center">
        <div *ngIf="!isConfigured else configured" class="mr-auto">
            <button (click)="showPanel('config')"
                    color="primary" mat-flat-button>
                Test with your Xano account...
            </button>
            <a *ngIf="config.editLink" [href]="config.editLink" class="ml-4" mat-button target="_blank">
                {{config.editText}}
            </a>
        </div>

        <ng-template #configured>
            <button (click)="showPanel('auth')" *ngIf="!isLoggedIn else loggedInActions" color="primary"
                    mat-flat-button>
                Login / Signup
            </button>
            <ng-template #loggedInActions>
                <h2 class="pt-3 mr-auto">{{user?.name}}</h2>
                <button (click)="showPanel('manage')" class="mr-1" color="accent" mat-stroked-button>
                    <mat-icon>add</mat-icon>
                    Chatroom
                </button>
                <button (click)="logout()" mat-stroked-button>
                    <mat-icon>subdirectory_arrow_left</mat-icon>
                    Logout
                </button>
            </ng-template>
        </ng-template>
    </div>
    <hr class="mt-4 mb-4"/>
</section>

