/* You can add global styles to this file, and also import other style files */

@import "vars";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
	background-color: #F8F8F8;
	min-height: 100vh;
	font-family: Roboto, "Helvetica Neue", sans-serif;

	.xano-header {
		a {
			color: white;
		}
	}

	.highlight-green {
		color: #A5D744;
	}

	.text-muted {
		color: #cfcfcf !important;
		font-size: 14px;
	}
}

.logo {
	width: 240px;
	height: 80px;
}

.clickable {
	cursor: pointer;
}

.container {
	.header {
		font-size: 36px;
		font-weight: 800;
		letter-spacing: -1px;
	}

	.sub-header {
		font-size: 25px;
		font-weight: 400;
		letter-spacing: 1px;
	}

	.btn-icon {
		width: 50px;
	}

	.btn-config {
		background-color: #122638;
		color: #fff;
		padding: 20px;
		border: 1px solid #122638;
		border-radius: 28px;

		&.btn-post-config {
			position: absolute;
			top: 135px;
			right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:hover {
			color: #fff;
			border: 1px solid #122638;
		}
	}

	.auth-btn {
		width: 100%;
		max-width: 300px;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		padding: 10px 20px;
		background-color: #FFF;
		color: #333;
		font-weight: bold;
		font-size: 17px;

		.btn-google {
			background-color: #FFF;
			color: #333;
		}
	}
}


@keyframes slide {
	100% {
		right: 0;
	}
}

.slide-out-panel {
	position: fixed !important;
	bottom: 0;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100%;
	animation: slide 0.25s forwards;
	animation-delay: 0.1s;

	.mat-dialog-container {
		padding: 0;
		border-radius: 0;

		.panel-container {
			background-color: $color-dark-accent;
			display: flex;
			flex-direction: column;
			color: whitesmoke;
			height: 100%;

			.panel-header, .panel-summary, .panel-info, .panel-content, .panel-footer {
				padding: 20px;
			}

			.panel-header {
				display: flex;
				align-items: center;
				background: transparent;
				padding-bottom: 0;

				.panel-title {
					font-size: 2em;
					font-weight: bold;
				}

				.panel-close {
					margin-left: auto;
					width: fit-content;
					height: fit-content;
					font-size: 2em;
					font-weight: bold;
					cursor: pointer;
				}
			}

			.panel-summary {
				color: #A7A7A7;
			}

			.panel-info {
				h2 {
					color: whitesmoke;
				}

				color: #A7A7A7;
				background: rgb(29, 29, 29);
			}

			.panel-content {
				background-color: $color-dark-accent;
			}

			.panel-footer {
				background-color: $color-dark;
				margin-top: auto;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
			}
		}

		mat-form-field:not(.mat-form-field-invalid) {
			* {
				color: whitesmoke
			}
		}

		mat-hint {
			color: #A7A7A7 !important;
		}

		//mat-chip {
		//	color: black;;
		//}
	}
}

//mat-button-toggle.mat-button-toggle-checked {
//	background: rgb(64,80,181);
//}
//
//mat-button-toggle.mat-button-toggle-checked:not(:first-of-type) {
//	background: rgba(0,0,0,0.2);
//}

mat-card {
	box-shadow: none!important;
	border: 1px inset rgba(0,0,0,0.1)
}

.error-snack {
	background-color: #f44336;

	* {
		color: whitesmoke;
	}
}

.big-icon {
	font-size: 3em;
	width: fit-content;
	height: fit-content;
}
