<section id="home">
    <div *ngIf="!configured else Main">
        <a *ngIf="config.editLink" [href]="config.editLink" class="ml-4" target="_blank">{{config.editText}}</a>
        <div [innerHTML]="config.descriptionHtml | safeHtml" class="p-4"></div>
    </div>
    <ng-template #Main>
        <div class="d-flex justify-content-between">
            <app-chatrooms *ngIf="(showRooms) || (isSmallScreen && !allowDetail)"
                           [ngClass]="{'flex-fill': isSmallScreen}"></app-chatrooms>
            <app-chat *ngIf="!isSmallScreen || (isSmallScreen && allowDetail)" class="flex-fill">
                <button [matMenuTriggerFor]="menu" class="ml-auto mt-2" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="toggle('rooms')" mat-menu-item>
                        <span>Chatrooms</span>
                    </button>
                    <button (click)="toggle('detail')" mat-menu-item>
                        <span>Detail</span>
                    </button>
                </mat-menu>
            </app-chat>
            <app-chatroom-detail *ngIf="allowDetail && showDetail"></app-chatroom-detail>
        </div>
    </ng-template>
</section>
