<section id="chatrooms">
    <div class="d-flex flex-column">
        <div class="chat-box-header">
            <h2 class="pt-3 pl-3">Chatrooms</h2>
            <hr/>
        </div>
        <mat-list (scrolled)="loadMore()" (scrolledUp)="loadMore()"
                  [infiniteScrollDistance]="4"
                  [infiniteScrollUpDistance]="4"
                  [scrollWindow]="false"
                  class="chatrooms"
                  infinite-scroll
        >
            <mat-list-item (click)="enterChatroom(room)" *ngFor="let room of chatrooms">
                <button [color]="room == activeRoom ? 'primary' : ''" class="w-100 text-left"
                        mat-button>{{room.title}}</button>
            </mat-list-item>
            <div *ngIf="!chatrooms?.length && noRecordsFound"
                 class="d-flex flex-column justify-content-center align-content-center text-center">
                <div>
                    <mat-icon>info</mat-icon>
                </div>
                <b>No Chatrooms!</b>
                <p> Consider adding one</p>
                <em>(you must login)</em>
            </div>
        </mat-list>
    </div>
</section>
